.navbar{
    color: inherit;
    background-color: inherit;
}
.color-inherit{
    color:inherit;
    background-color: inherit;
}
.btn{
    color:inherit;
}
.container-fluid{
    color:inherit;
    background-color: inherit;

}
