.nav-item{
    width: 100%;
    height: 35px;
    background-color: aqua;
}
.nav_header{
    width: 100%;
    height: 30px;
}
.nav_header:hover{
    width: 100%;
    height: 30px;
    background-color: aqua;
}
.nav_menu{
    display: flex;
    gap: 10px;
    color:inherit;
}
.text{
    color: inherit;
}

.container-fluid{
    color:inherit;
    background-color: inherit;
}
.title{
    color: inherit;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}
