.container_profile{
    display: flex;
    flex-direction: column;
    width: 660px;
    height: 100%;
    border-radius: 5px;
    padding: 17px 21px 17px 21px;
    gap: 9px;
}
.user_notfound{
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 21px 0px 21px 0px;
    align-items: center;
    border-radius: 5px;
    border-radius: 5px;
    box-shadow: 3px 4px 4px rgba(252, 185, 81, 1);
    border: 1px solid rgba(252, 185, 81, 1);
}
.text_notFound{
    text-align: center;
}
.imageNotFound{
    width: 90%;
}
@media (max-width:610px) {
    .container_profile{
        width: 100%;
    }
}