.not_found{
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: column;
    padding: 21px 0px 21px 0px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 4px 4px rgba(252, 185, 81, 1);
    border: 1px solid rgba(252, 185, 81, 1);
}
.posts{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.post{
    display: flex;
    flex-direction: column;
    width: 660px;
    height: 100%;
    border-radius: 5px;
    box-shadow: 3px 4px 4px rgba(252, 185, 81, 1);
    border: 1px solid rgba(252, 185, 81, 1);
    padding: 17px 21px 17px 21px;
    gap: 9px;

}
.manager_post{
    display: flex;
    justify-content: space-between;
}
.post_actions{
    display: flex;
    gap: 10px;
}
.post_edit{
    display: flex;
    color: white;
    background-color: rgba(252, 185, 81, 1);
    border: none;
    width: 60px;
    height: 28px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.post_delete{
    display: flex;
    color: white;
    background-color: red;
    border: none;
    width: 60px;
    height: 28px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.username{
    font-size: 23px;
    font-weight: bold;
}
.email{
    font-size: 16px;
    font-weight: normal;
}
.content{
    height: 100%;
}
.field_images{
    height: 100%;
    display: flex;

    width: 100%;
    border: 1px solid rgba(252, 185, 81, 1);
    border-radius: 4px;
}
.card_image{
    width: 616px;
    height: 429px;
    padding: 5px 5px 5px 5px;
    z-index: 0;
}
.image{
    width: 100%;
    height: 350px;
    max-height: 350px;

}
.field_description{
    height: 70px;
    width: 100%;
    max-width: 600px;
}
.actions{
    display: flex;
    gap: 9px;
    align-items: center;
}
.like{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2px;
    height:14px;
    cursor: pointer;
}
.likeSelected{
    height: 35px;
    cursor: pointer;
}
.comment{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4px;
}
@media (max-width:675px) {
    .post{
        width: 100%;
    }
}
@media (max-width:400px) {
    .profile_post{
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }
}